.Button2{
  position:relative;
  display: inline-block;
  margin: auto;
  height: 100%;
  width:200px;
  background-color: rgba(25,25,25,0.1);
  text-align: center;
}

.Button2:hover{
  cursor:pointer;
  background-color: rgba(25,25,25,0);
}

.Button2 h1
{
  position: relative;
  margin:auto;
  color:rgb(59,210,174);
  margin-top:15px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}
