.Button1{
  position:relative;
  display: inline-block;
  margin: auto;
  margin-top:35px;
  margin-right: 25px;
  margin-left: 25px;
}

.Button1:hover{
  cursor:pointer;
}

.Button1:active .button1_elem{
  top:10px;
  left:-10px;
}

.button1_elem
{
  position: relative;
  width: 200px;
  height:70px;
  background-color:white;
  border: solid;
  border-width: 5px;
  border-radius: 5px;
  border-color: rgb(59,210,174);
  text-align: center;
  top:0;
  left:0;
  transition: top 0.2s, left 0.2s;
}

.button1_elem h1
{
  position: relative;
  margin:auto;
  color:rgb(59,210,174);
  margin-top:12px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}

.shadow
{
  position:absolute;
  width: 210px;
  height:80px;
  border-radius: 5px;
  top:10px;
  left:-10px;
  background: #e74c3c;
  background: rgb(243,243,243);
  /*background: -webkit-linear-gradient(right, rgb(59,210,174) , rgb(54,186,194));
  background: -o-linear-gradient(right, rgb(59,210,174), rgb(54,186,194));
  background: -moz-linear-gradient(right, rgb(59,210,174), rgb(54,186,194));
  background: linear-gradient(right, rgb(59,210,174), rgb(54,186,194));*/
}
